* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

/* header started */
.container {
    width: 1440px;
    max-width: 1480px;
    margin: 0 auto;
}

.flex {
    display: flex;
    list-style: none;
}